

.section{
  background-color: white;
  border-radius: 15px;
  padding: 0 20px 20px;

  ul {
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 12px 48px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 12px;

    width: calc(50% - 24px);
    font-size: 14px;
  }
}

.icon {
  width: 15px;
  height: 15px;
  border-radius: 6px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

