.page {
  width: 100%;
  min-height: 100vh;
  background: #f8f9fa;

  .outer {
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px 40px;

    .breadcrumbsWrapper {
      max-width: 1200px;
      margin: 0 auto;
    }

    .breadcrumbs {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: black;
      margin-bottom: 20px;
      gap: 7px;
      flex-wrap: wrap;

      a {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        padding: 0 10px;
        min-height: 30px;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        transition: all .5s;

        &:hover {
          color: black;
        }
      }
    }

    .inner {
      max-width: 1200px;
      margin: 0 auto;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 25px;

      .main {
        width: 100%;
        flex: 1;
        background: white;
        padding: 20px;
        border-radius: 12px;
      }

      .sidebar {
        width: 350px;
        flex-shrink: 0;
      }
    }
  }

  .chatButton {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;

    font-size: 28px;
    cursor: pointer;

    background: #007bff;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform .2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 992px) {
  .page {
    .outer {
      .inner {
        flex-direction: column;
      }
      .sidebar {
        width: 100%;
      }
    }
  }
}
