.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1622;
  color: white;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  height: 60px;
  position: relative;

  .left, .right {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
  }

  .left {
    .logo {
      font-weight: 700;
      line-height: 1.1;
      text-align: center;
      color: white;
      font-size: 12px;

      .logoLink {
        border-bottom: none !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:hover {
          border-bottom: none !important;
        }

        .bold {
          font-weight: 900;
        }
      }
    }

    .new {
      display: flex;
      align-items: center;
      gap: 5px;

      .badge {
        background: #ec6c65;
        color: white;
        font-size: 10px;
        font-weight: 700;
        padding: 2px 6px;
        border-radius: 4px;
      }
    }
  }

  .right {
    .userLink {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: white;

      .userIcon {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      height: 100%;
      flex: 0 1 auto;

      .iconLink {
        flex: 1 1 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        transition: border-color 0.2s ease;


        &:hover {
          border-bottom: 2px solid blue;
        }

        .iconWrapper {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            width: 22px;
            height: 20px;
            color: white;
            cursor: pointer;
            transition: color 0.2s ease;
          }

          .notifBadge {
            position: absolute;
            top: -6px;
            right: -8px;
            background: #007bff;
            color: white;
            font-size: 10px;
            font-weight: 700;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .flag {
          width: 20px;
          height: 20px;
          background: linear-gradient(to bottom, #fff 50%, #dc143c 50%);
          border: 1px solid #ccc;
          border-radius: 50%
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.2s ease;
    border-bottom: 2px transparent solid;

    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;

    &:hover {
      border-bottom: 2px solid blue;
    }
  }

  @media (max-width: 992px) {

    .right {
      display: none;
    }

    .left {
      a {
        display: none !important;
      }

      .logoLink {
        display: flex !important;
      }
    }

    .burger {
      display: block;
    }

    .mobileMenu {
      top: 60px;
    }
  }


}

/* HAMBURGER — hidden on desktop */
.burger {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* MOBILE MENU */
.mobileMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;

  width: 100%;
  background: #0d1622;
  padding: 20px 0;
  gap: 18px;

  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  a {
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
}

.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

